.DS_Store
__MACOSX/
Assets/AddtoContacts.svg
Assets/Banner_Estate.svg
Assets/Customers/
Assets/DownloadProfile.svg
Assets/GreenGifting.svg
Assets/Instagram_icon.svg
Assets/LimestoneTexture.svg
Assets/PDF_Icon.svg
Assets/Products/
Assets/Profile/*.png
!Assets/Profile/Profile.png
Assets/ProfileThumbnail.png
Assets/QRCode_Icon.svg
Assets/global_icon.svg
Assets/googlemap_icon.svg
Assets/youtube_icon.svg
